################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CoreDemo/v16/Server/sqlite3
/.vs/CoreDemo/v16/.suo
